@font-face {
    font-family: "Akshar";
    src: url(./Fonts/Akshar-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Akshar;
    --bgcolorhead-foot: #130f40;
    --accentpurple:#4834d4;
    --greenquote: #badc58;
    --alphaemerald: #a5ffd2;
}

body{
    height: 100vh;
}

/* ------------------------------Header---------------------------------------------------------- */

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bgcolorhead-foot);
    padding: 20px 15%;
}

header nav {
    width: 100%;
    display: flex;
}

header nav>*{
    flex: 1 1 0;
}

header .menu{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: 20px;
}

.menu a{
    color: white;
}

.logo{
    width: 150px;
}

header .contentbox{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

header .contentbox>*{
    flex: 1 1 0;
}

.left h1, .left p{
    margin-bottom: 10px;
}

.portrait{
    width: 100%;
}

.left h1{
    color: white;
    font-size: 48px;
    font-weight:bolder;
}

.left p, .left a{
    color: white;
    font-size: 18px;
}

.button{
    display: inline-block;
    background-color:var(--accentpurple);
    padding: 5px 30px;
    border-radius: 5px;
}

/* ------------------------------Header---------------------------------------------------------- */

/* ------------------------------Main infobox-----------------------------------------------------*/

.infobox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 20% 100px;
}

.infobox h2{
    color: var(--bgcolorhead-foot);
    font-size: 36px;
    font-weight: bolder;
}

.infobox p{
    color:var(--bgcolorhead-foot);
}

.infobox .contentbox{
    display: flex;
    gap: 20px;
}

.contentbox .card{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.contentbox .sqimg{
    border: 3px solid var(--accentpurple);
    border-radius: 10px;
    width: 100px;
}
/* ------------------------------Main infobox-----------------------------------------------------*/

/* ------------------------------Main quotebox-----------------------------------------------------*/

.quotebox{
    background-color: var(--alphaemerald);
    padding: 100px 25%;
}

blockquote{
    font-size: 36px;
    font-style:italic;
    font-weight:lighter;
    color: var(--bgcolorhead-foot);
    margin-bottom: 10px;
    quotes: "“" "”";
}

blockquote::before{
    content: open-quote;
    font-size: 50px;
}

blockquote::after{
    content: close-quote;
    font-size: 50px;
}

.quotebox p{
    color: var(--bgcolorhead-foot);
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.quotebox p::before{
    content: "- ";
}

/* ------------------------------Main quotebox-----------------------------------------------------*/